@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #010103;
  font-family: "Roboto mono", sans-serif;
  width: 100dvw;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
}

/* --------------------- Styles of Tailwind --------------------- */

@layer utilities {
  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .c-space {
    @apply sm:px-10 px-5;
  }

  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }
  
  .nav-li {
    @apply text-white hover:text-blue-custom duration-500 font-medium;
  }
  
  .nav-sidebar {
    @apply absolute left-0 right-0 top-[4.8rem] bg-black backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .bento-tilt_1 {
    @apply relative col-span-2 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  


  
  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }


  


  .arrow-gradient {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 10%,
      rgba(255, 255, 255, 0.000025) 50%,
      rgba(255, 255, 255, 0.000025) 50%,
      rgba(255, 255, 255, 0.025) 100%
    );
  }
}


/* --------------------- Styles of CSS3 --------------------- */


.backend-dev {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2c9d49;
  text-underline-offset: 6px;
}

.frontend-dev {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2c49d8;
  text-underline-offset: 6px;
}

.database-dev {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #f5a623;
  text-underline-offset: 6px;
}

.experience-container {
  position: relative; /* Necesario para posicionar el ::before */
  padding-left: 10px; /* Espacio para la línea */
}

.experience-container::after {
  opacity: 0.4;
  content: "";
  width: 0;
  height: 54%;
  position: absolute;
  background-color: #94a3b8;
  border: 0.1px solid #94a3b8;
  bottom: 21%;
  left: 0px;
}

.experience-text::before {
  content: "<h4>";
  display: block;
  margin-left: -30px;
  font-size: 14px;
  color: #94a3b8;
}

.experience-text::after {
  content: "</h4>";
  display: block;
  margin-left: -28px;
  font-size: 14px;
  color: #94a3b8;
}
